body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

#data {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.5em;
}
.logo {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

.logo img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}
